<ol class="breadcrumb">
  <li>
    <%= link_to 'type', ux_calculators_path %>
  </li>
  <li class="active">binary</li>
</ol>

<!-- #2 -->
<h2>Comparing groups?</h2>
<p>For this decision map, the primary thing you need to know is if your data is binary or not.</p>
<div class="row">
  <div class="col-sm-6">
    <p><%= link_to "yes", "#", class: "btn btn-primary btn-block" %></p>
  </div>
  <div class="col-sm-6">
    <p><%= link_to "no", "#", class: "btn btn-primary btn-block" %></p>
  </div>
</div>
