<hr />
<p class="text-muted">links de referência:</p>
<ul class="font-size-sm">
  <li><a target="_blank" href="http://www.churrasconobrerj.com.br/dicas/2/as-melhores-carnes-para-churrasco">churrasconobrerj.com.br/dicas/2/as-melhores-carnes-para-churrasco</a></li>
  <li><a target="_blank" href="http://www.papodehomem.com.br/os-cortes-tradicionais-de-um-autentico-churrasco/">papodehomem.com.br/os-cortes-tradicionais-de-um-autentico-churrasco/</a></li>
</ul>
<hr class="invisible" />
