<div class="row">
  <div class="col-sm-8">
    <h3>folha ponto</h3>
    <p>utilize as setas do teclado para navegar entre os dias</p>
  </div>
  <div class="col-sm-4 text-right">
    <small>by <a href="http://www.rodrigoquaresma.com.br">rodrigo quaresma</a></small>
  </div>
</div>
