<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a class="card-front" href="#table_front" aria-controls="table_front" role="tab" data-toggle="tab">Frente</a>
    </li>
    <li role="presentation">
      <a class="card-back" href="#table_back" aria-controls="table_back" role="tab" data-toggle="tab">Verso</a>
    </li>
    <li class="pull-right">
      <span class="btn-height text-muted pull-right">utilize as setas do teclado para navegar entre os dias</span>
    </li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="table_front">
      <table class="table table-bordered table-sign-in" style="border-top:0;">
        <thead>
          <tr>
            <th></th>
            <th colspan="2">manhã</th>
            <th colspan="2">tarde</th>
          </tr>
          <tr>
            <th style="width:12%;">dia</th>
            <th style="width:22%;">entrada</th>
            <th style="width:22%;">saída</th>
            <th style="width:22%;">entrada</th>
            <th style="width:22%;">saída</th>
          </tr>
        </thead>
        <tbody>

          <% for i in 1..15 %>
          <%= render partial: "table_tr", locals: { year: year, month: month, ndays: ndays, holiday_1: holiday_1, holiday_2: holiday_2, i: i } %>
          <% end %>

        </tbody>
      </table>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="table_back">
      <table class="table table-bordered table-sign-in" style="border-top:0;">
        <thead>
          <tr>
            <th></th>
            <th colspan="2">manhã</th>
            <th colspan="2">tarde</th>
          </tr>
          <tr>
            <th style="width:12%;">dia</th>
            <th style="width:22%;">entrada</th>
            <th style="width:22%;">saída</th>
            <th style="width:22%;">entrada</th>
            <th style="width:22%;">saída</th>
          </tr>
        </thead>
        <tbody>

          <% for i in 16..31 %>
          <%= render partial: "table_tr", locals: { year: year, month: month, ndays: ndays, holiday_1: holiday_1, holiday_2: holiday_2, i: i } %>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>

</div>
<hr />
