<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>folha ponto</h3>
    </div>
    <div class="col-sm-4 text-right">
      <small>by rodrigo quaresma</small>
    </div>
  </div>

  <hr />

  <table class="table table-striped table-bordered table-sign-in">
    <thead>
      <tr>
        <th>dia</th>
        <th colspan="2">manhã</th>
        <th colspan="2">tarde</th>
      </tr>
      <tr>
        <th style="width:12%;">dia</th>
        <th style="width:22%;">entrada</th>
        <th style="width:22%;">saída</th>
        <th style="width:22%;">entrada</th>
        <th style="width:22%;">saída</th>
      </tr>
    </thead>
    <tbody>

      <% for i in 1..15 %>
        <%
        year = 2015
        month = 4
        day = 1

        hour = xhour_in[0]
        minute = xminute_in[0]

        start_time = Time.new(year,month,day,hour,minute)
        end_time = start_time + 9.hours + 48.minutes

        %>

        <tr>
          <td><%= i %> <span class="hide"><%= start_time %></span></td>
          <td class="hour-sign-in"><%= time_build(hour,minute.to_s.rjust(2, '0')) %></td>
          <td>12:00</td>
          <td>13:00</td>
          <td class="hour-sign-out"><%= end_time.strftime('%H:%M') %></td>
        </tr>
      <% end %>

    </tbody>
  </table>


</div>
