<div class="container">
  <%= render partial: "header" %>

  <%
  year_now = Time.now.year
  month_now = Time.now.month
  month_now = month_now - 1
  email = nil
  %>

  <%= render partial: "form", locals: { year: year_now, month: month_now, email: email } %>

</div>
