<div class="container">
  <%= render partial: "header" %>

  <%
  holiday_1 = ''
  holiday_2 = ''
  case month
  when 1
    # primeiro dia do ano
    holiday_1 = Time.new(year,month,1).strftime('%F')
  when 2
    # carnaval
    if year == 2015
      holiday_1 = Time.new(year,month,16).strftime('%F')
      holiday_2 = Time.new(year,month,17).strftime('%F')
    elsif year == 2016
      holiday_1 = Time.new(year,month,8).strftime('%F')
      holiday_2 = Time.new(year,month,9).strftime('%F')
    elsif year == 2017
      holiday_1 = Time.new(year,month,27).strftime('%F')
      holiday_2 = Time.new(year,month,28).strftime('%F')
    elsif year == 2018
      holiday_1 = Time.new(year,month,12).strftime('%F')
      holiday_2 = Time.new(year,month,13).strftime('%F')
    end
  when 3
    # aniversario de floripa
    holiday_1 = Time.new(year,month,23).strftime('%F')
    if year == 2016
      # paixao de cristo
      holiday_2 = Time.new(year,month,25).strftime('%F')
    end
    elsif year == 2018
      # paixao de cristo
      holiday_2 = Time.new(year,month,30).strftime('%F')
    end
  when 4
    holiday_1 = Time.new(year,month,21).strftime('%F')
    if year == 2015
      # paixao de cristo
      holiday_2 = Time.new(year,month,3).strftime('%F')
    elsif year == 2017
      # paixao de cristo
      holiday_2 = Time.new(year,month,14).strftime('%F')
    end
  when 5
    # dia do trabalho
    holiday_1 = Time.new(year,month,1).strftime('%F')
    if year == 2016
      # corpus christi
      holiday_2 = Time.new(year,month,26).strftime('%F')
    end
  when 6
    if year == 2015
      # corpus christi
      holiday_1 = Time.new(year,month,4).strftime('%F')
    elsif year == 2017
      # corpus christi
      holiday_1 = Time.new(year,month,15).strftime('%F')
    elsif year == 2018
      # corpus christi delayed time off
      holiday_1 = Time.new(year,month,1).strftime('%F')
    end
  when 9
    holiday_1 = Time.new(year,month,7).strftime('%F')
  when 10
    holiday_1 = Time.new(year,month,12).strftime('%F')
  when 11
    holiday_1 = Time.new(year,month,2).strftime('%F')
    holiday_2 = Time.new(year,month,15).strftime('%F')
    if year == 2018
      # post summit day off
      holiday_3 = Time.new(year,month,16).strftime('%F')
    else
  when 12
    holiday_1 = Time.new(year,month,24).strftime('%F')
    holiday_2 = Time.new(year,month,25).strftime('%F')
  end
  %>

  <%= render partial: "form", locals: { year: year, month: month, email: email } %>
  <%= render partial: "table", locals: { year: year, month: month, ndays: ndays, holiday_1: holiday_1, holiday_2: holiday_2, holiday_3: holiday_3 } %>

</div>

<div class="footer-mobile visible-xs-block">
  <a href="javascript:void(0);" class="btn btn-secundary btn-block js-next-row">próxima</a>
  <a href="javascript:void(0);" class="btn btn-default btn-sm btn-block js-back-row">anterior</a>
</div>
