<% content_for :header do %>
  <%= stylesheet_link_tag 'site' %>
<% end %>

<div class="container cover">
  <h3 class="title"><strong>blen</strong>box</h3>
  <ul>
    <li><%= link_to 'ux calculators', ux_calculators_path %></li>
    <li><%= link_to 'split test calculator', chi_square_path %></li>
    <li><%= link_to 'ajudante folha ponto', fills_time_path %></li>
  </ul>
  <hr />
  <p>sandbox by <a href="//www.rodrigoquaresma.com.br" class="navbar-link">rodrigo quaresma</a></p>
</div>
