<h2 class="text-danger"><%= t('ab_testing_calculator.result_calculator.message.error.alert') %></h2>
<p class="lead"><%= @message_error %></p>
<hr class="spacer-sm invisible" />
<%= render partial: "chi_square/form" %>
