// Core variables and mixins
@import "components/variables";
@import "bootstrap/mixins";

.calculator-form {
  .label-group {
    text-align: right;
    display: block;
    line-height: 34px;
    margin-bottom: 10px;
    &:first-child { margin-top: 39px; }
  }
}
