// Core variables and mixins
@import "components/variables";
@import "bootstrap/mixins";

body {
  background: #1d292b;
  color: #dad2bf;
}

.cover {
  padding: 6em 0;
  .title {
    font-size: 4em;
    margin: 0;
    line-height: 2em;
  }
  .btn { margin: 0 .25em .5em 0; }
}
