<hr />
<p class="text-muted">reference links:</p>
<ul class="font-size-sm">
  <li><a href="http://www.measuringu.com/blog/what-test.php">http://www.measuringu.com/blog/what-test.php</a></li>
  <li><a href="http://www.usablestats.com/lessons/datatypes">http://www.usablestats.com/lessons/datatypes</a></li>
  <li><a href="https://www.measuringu.com/calc.php">https://www.measuringu.com/calc.php</a></li>
</ul>
<hr class="invisible" />
