<!-- #1 -->
<h2>what kind of analysis do you want to do?</h2>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="analysis" /> continuous data
  </label>
  <span class="text-muted">e.g., task times or rating scales</span>
</div>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="analysis" /> discrete-binary data
  </label>
  <span class="text-muted">e.g., completion rates or convertion rates</span>
</div>
<!-- #2 -->
<h2>comparing data? <small class="text-muted"></small></h2>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="comparing_data" /> yes
  </label>
</div>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="comparing_data" /> no
  </label>
</div>
<!-- #3 -->
<h2>diferent users in each group? <small class="text-muted"></small></h2>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="diferent_users" /> yes
  </label>
</div>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="diferent_users" /> no
  </label>
</div>
