<div class="container">
  <h3>ux calculators</h3>
  <h2>what kind of analysis do you want to do?</h2>
      <p class="text-muted">
        <%= link_to 'continuous data', '#', class: 'btn btn-default' %>
        e.g., task times or rating scales
      </p>
      <p class="text-muted">
        <%= link_to 'discrete-binary data', '#', class: 'btn btn-default' %>
        e.g., completion rates or convertion rates
      </p>

  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
    </div>
  </div>

  <p>
  </p>

</div>
