<!-- #1 -->
<h2>What type of Data do you have?</h2>
<p>For this decision map, the primary thing you need to know is if your data is binary or not.</p>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Binary</h3>
      </div>
      <div class="panel-body">
        <p>Pass/fail, yes/no, purchase/didn't purchase aor coded as 1 or 0.</p>
        <p>These include things like completion rates  and conversion rates.</p>
      </div>
      <div class="panel-footer">
        <%= link_to "select", "#", class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Continuous</h3>
      </div>
      <div class="panel-body">
        <p>If your data isn't coded as 1's or 0's then we can usually treat it as what's called continuous or metric data.</p>
        <p><a href="http://www.usablestats.com/lessons/datatypes" target="_blank">Learn more about continuous data.</a></p>
      </div>
      <div class="panel-footer">
        <%= link_to "select", "#", class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>

<div class="hide">



<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="analysis" /> continuous data
  </label>
  <span class="text-muted">e.g., task times or rating scales</span>
</div>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="analysis" /> discrete-binary data
  </label>
  <span class="text-muted">e.g., completion rates or convertion rates</span>
</div>
<!-- #2 -->
<h2>comparing data? <small class="text-muted"></small></h2>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="comparing_data" /> yes
  </label>
</div>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="comparing_data" /> no
  </label>
</div>
<!-- #3 -->
<h2>diferent users in each group? <small class="text-muted"></small></h2>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="diferent_users" /> yes
  </label>
</div>
<div class="radio">
  <label class="btn btn-default">
    <input type="radio" name="diferent_users" /> no
  </label>
</div>

</div>
