<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to site_index_path, class: 'navbar-brand' do %>
        <strong>blen</strong>box
      <% end %>
    </div>
    <p class="navbar-text navbar-right">
      by <a href="//www.rodrigoquaresma.com.br" class="navbar-link">rodrigo quaresma</a>
    </p>
  </div>
</nav>
