<div class='social_container hide'>
  <div class='social_row'>
    <a href="//www.facebook.com/blenbox" target="_blank"><i class='icon-facebook'></i></a>
    <a href="//twitter.com/blenbox" target="_blank"><i class='icon-twitter'></i></a>
    <a href="//plus.google.com/u/0/b/115804080049807187845/115804080049807187845/about" target="_blank"><i class='icon-googleplus'></i></a>
    <a href="//www.pinterest.com/blenbox/" target="_blank"><i class='icon-pinterest'></i></a>
  </div>
</div>
<div class="hide">
  <hr />
  <g:plus action="share"></g:plus>
  <div class="fb-share-button" data-href="https://www.blenbox.com.br" data-layout="button_count"></div>
</div>

<div class="">
  <span class='st_facebook_large' displayText='Facebook'></span>
  <span class='st_twitter_large' displayText='Tweet'></span>
  <span class='st_googleplus_large' displayText='Google +'></span>
  <span class='st_pinterest_large' displayText='Pinterest'></span>
  <span class='st_email_large' displayText='Email'></span>
</div>
